{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <h2 class="text-center p-5">welcome to my website django</h2>
    <img src={% static 'images/pic1.jpg' %} alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, vitae. Excepturi saepe illum quod dignissimos,
        nostrum placeat. Rerum, vitae! Dolore quia iusto exercitationem! Molestiae ea similique hic amet iusto obcaecati
        quos magni reiciendis, impedit dolorum facere voluptate eos quibusdam aperiam, atque veniam ratione autem dicta
        adipisci voluptatum quaerat vitae beatae corporis? Cum, recusandae neque vel fugiat sequi iure, dolore quidem in
        veniam quod accusamus amet necessitatibus accusantium exercitationem repellendus eum alias. Id maxime magni
        quisquam debitis, iusto illo et sit obcaecati aut distinctio ab in ad laboriosam labore odit architecto culpa
        cupiditate sunt repudiandae quia ipsam quibusdam quos dolores ullam. Tenetur illo dicta repudiandae cum harum
        nostrum illum veritatis odio eum enim recusandae voluptatum voluptatibus quam iusto placeat possimus ea fugiat
        quos voluptatem exercitationem, aliquid accusamus laboriosam. Dignissimos quibusdam eius sit, nihil doloribus
        quasi ut, nobis at culpa impedit aut dolores delectus voluptates et? Ipsam laborum nisi ipsum architecto
        blanditiis expedita, dolorum eius optio perspiciatis ipsa eligendi. Quam vitae maiores iste sunt eum quaerat
        voluptas odit iure veritatis officiis sit animi provident ad exercitationem similique obcaecati, magnam
        perspiciatis voluptates cum accusantium error, vel consequuntur ipsa id. Provident rem repudiandae, voluptatibus
        neque beatae velit a tempore laudantium dolores delectus quidem molestiae?</p>
</body>

</html>